<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <a href="#" class="subnav-toggle">(Expand/collapse all)</a>
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li>
                    <a href="/docs/providers/ucloud/index.html">UCloud Provider</a>
                </li>

                <li>
                    <a href="#">Provider Data Sources</a>
                    <ul class="nav">
                        <li>
                            <a href="/docs/providers/ucloud/d/projects.html">ucloud_projects</a>
                        </li>
                        <li>
                            <a href="/docs/providers/ucloud/d/zones.html">ucloud_zones</a>
                        </li>
                    </ul>
                </li>

                <li>
                  <a href="#">UHost</a>
                  <ul class="nav nav-visible">
                    <li>
                        <a href="#">Data Sources</a>
                        <ul class="nav nav-auto-expand">
                            <li>
                                <a href="/docs/providers/ucloud/d/images.html">ucloud_images</a>
                            </li>

                            <li>
                            <a href="/docs/providers/ucloud/d/instances.html">ucloud_instances</a>
                            </li>

                            <li>
                            <a href="/docs/providers/ucloud/d/disks.html">ucloud_disks</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Resources</a>
                        <ul class="nav nav-auto-expand">
                            <li>
                                <a href="/docs/providers/ucloud/r/instance.html">ucloud_instance</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/r/disk.html">ucloud_disk</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/r/disk_attachment.html">ucloud_disk_attachment</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/r/isolation_group.html">ucloud_isolation_group</a>
                            </li>
                        </ul>
                    </li>
                  </ul>
                </li>

                <li>
                  <a href="#">UNet</a>
                  <ul class="nav">
                    <li>
                        <a href="#">Data Sources</a>
                        <ul class="nav nav-auto-expand">
                            <li>
                                <a href="/docs/providers/ucloud/d/eips.html">ucloud_eips</a>
                            </li>
                            <li>
                            <a href="/docs/providers/ucloud/d/security_groups.html">ucloud_security_groups</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Resources</a>
                        <ul class="nav nav-auto-expand">
                            <li>
                                <a href="/docs/providers/ucloud/r/eip.html">ucloud_eip</a>
                            </li>
                            <li>
                                <a href="/docs/providers/ucloud/r/eip_association.html">ucloud_eip_association</a>
                            </li>
                            <li>
                                <a href="/docs/providers/ucloud/r/security_group.html">ucloud_security_group</a>
                            </li>
                        </ul>
                    </li>
                  </ul>
                </li>


                <li>
                  <a href="#">ULB</a>
                  <ul class="nav">
                    <li>
                        <a href="#">Data Sources</a>
                        <ul class="nav nav-auto-expand">
                            <li>
                                <a href="/docs/providers/ucloud/d/lbs.html">ucloud_lbs</a>
                            </li>
                            <li>
                                <a href="/docs/providers/ucloud/d/lb_listeners.html">ucloud_lb_listeners</a>
                            </li>
                            <li>
                                <a href="/docs/providers/ucloud/d/lb_attachments.html">ucloud_lb_attachments</a>
                            </li>
                            <li>
                                <a href="/docs/providers/ucloud/d/lb_rules.html">ucloud_lb_rules</a>
                            </li>
                            <li>
                                <a href="/docs/providers/ucloud/d/lb_ssls.html">ucloud_lb_ssls</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Resources</a>
                        <ul class="nav nav-auto-expand">
                            <li>
                                <a href="/docs/providers/ucloud/r/lb.html">ucloud_lb</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/r/lb_attachment.html">ucloud_lb_attachment</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/r/lb_listener.html">ucloud_lb_listener</a>
                            </li>
                            <li>
                                <a href="/docs/providers/ucloud/r/lb_rule.html">ucloud_lb_rule</a>
                            </li>
                            <li>
                                <a href="/docs/providers/ucloud/r/lb_ssl.html">ucloud_lb_ssl</a>
                            </li>
                            <li>
                                <a href="/docs/providers/ucloud/r/lb_ssl_attachment.html">ucloud_lb_ssl_attachment</a>
                            </li>
                        </ul>
                    </li>
                  </ul>
                </li>

                <li>
                  <a href="#">VPC</a>
                  <ul class="nav">
                    <li>
                        <a href="#">Data Sources</a>
                        <ul class="nav nav-auto-expand">
                            <li>
                                <a href="/docs/providers/ucloud/d/vpcs.html">ucloud_vpcs</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/d/subnets.html">ucloud_subnets</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/d/nat_gateways.html">ucloud_nat_gateways</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Resources</a>
                        <ul class="nav nav-auto-expand">
                            <li>
                                <a href="/docs/providers/ucloud/r/vpc.html">ucloud_vpc</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/r/vpc_peering_connection.html">ucloud_vpc_peering_connection</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/r/subnet.html">ucloud_subnet</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/r/nat_gateway.html">ucloud_nat_gateway</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/r/nat_gateway_rule.html">ucloud_nat_gateway_rule</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/r/vip.html">ucloud_vip</a>
                            </li>
                        </ul>
                    </li>
                  </ul>
                </li>

                <li>
                  <a href="#">UDB</a>
                  <ul class="nav">
                    <li>
                        <a href="#">Data Sources</a>
                        <ul class="nav nav-auto-expand">
                            <li>
                                <a href="/docs/providers/ucloud/d/db_instances.html">ucloud_db_instances</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/d/db_parameter_groups.html">ucloud_db_parameter_groups</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Resources</a>
                        <ul class="nav nav-auto-expand">
                            <li>
                                <a href="/docs/providers/ucloud/r/db_instance.html">ucloud_db_instance</a>
                            </li>
                        </ul>
                    </li>
                  </ul>
                </li>

                <li>
                  <a href="#">UMem</a>
                  <ul class="nav">
                    <li>
                        <a href="#">Resources</a>
                        <ul class="nav nav-auto-expand">
                            <li>
                                <a href="/docs/providers/ucloud/r/redis_instance.html">ucloud_redis_instance</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/r/memcache_instance.html">ucloud_memcache_instance</a>
                            </li>
                        </ul>
                    </li>
                  </ul>
                </li>

                <li>
                  <a href="#">IPSec VPN</a>
                  <ul class="nav">
                    <li>
                        <a href="#">Data Sources</a>
                        <ul class="nav nav-auto-expand">
                            <li>
                                <a href="/docs/providers/ucloud/d/vpn_gateways.html">ucloud_vpn_gateways</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/d/vpn_customer_gateways.html">ucloud_vpn_customer_gateways</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/d/vpn_connections.html">ucloud_vpn_connections</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Resources</a>
                        <ul class="nav nav-auto-expand">
                            <li>
                                <a href="/docs/providers/ucloud/r/vpn_gateway.html">ucloud_vpn_gateway</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/r/vpn_customer_gateway.html">ucloud_vpn_customer_gateway</a>
                            </li>

                            <li>
                                <a href="/docs/providers/ucloud/r/vpn_connection.html">ucloud_vpn_connection</a>
                            </li>
                        </ul>
                    </li>
                  </ul>
                </li>

                <li>
                  <a href="#">UDPN</a>
                  <ul class="nav">
                    <li>
                        <a href="#">Resources</a>
                        <ul class="nav nav-auto-expand">
                            <li>
                                <a href="/docs/providers/ucloud/r/udpn_connection.html">ucloud_udpn_connection</a>
                            </li>
                        </ul>
                    </li>
                  </ul>
                </li>

                 <li>
                    <a href="#">Appendix</a>
                    <ul class="nav">
                        <li>
                            <a href="/docs/providers/ucloud/appendix/instance_type.html">Instance Type</a>
                        </li>
                        <li>
                            <a href="/docs/providers/ucloud/appendix/db_instance_type.html">DB Instance Type</a>
                        </li>
                        <li>
                            <a href="/docs/providers/ucloud/appendix/redis_instance_type.html">Redis Instance Type</a>
                        </li>
                        <li>
                            <a href="/docs/providers/ucloud/appendix/memcache_instance_type.html">Memcache Instance Type</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
